.btn {
  padding: 9px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.btn-primary {
  background: #18335e;
  color: white;
}

.btn-primary:hover {
  background: #2564eb;
}

.btn-danger {
  background: #aa2323;
  color: white;
}

.btn-danger:hover {
  background: #dc2626;
}