* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', system-ui, sans-serif;
  background: var(--color-bg);
  color: #191731;
}

/* SCROLL */

html{
  scroll-behavior:smooth;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#0f172a;
}

::-webkit-scrollbar-thumb{
  background:#3b82f6;
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
  background:#2563eb;
}

/* ================= FONDO GENERAL ================= */

.app-page{
  min-height:auto;
}

/* ================= FONDO GLOBAL FIJO ================= */

.app-page::before{

  content:"";

  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  z-index:-1;

  background-image:
    linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("../../assets/Fondo-general.png");

  background-size:cover;
  background-position:top 20% center;
  background-repeat:no-repeat;

}