:root {

  --color-primary: #15366b;
  --color-primary-hover: #2563eb;

  --color-danger: #812121;
  --color-danger-hover: #dc2626;

  --color-secondary: #64748b;

  --color-bg: #f4f6f9;
  --color-card: #ffffff;
  --color-dark: #0f172a;

  --color-border: #e2e8f0;
  --color-muted: #94a3b8;

  --radius-lg: 16px;
  --radius-md: 10px;
  --radius-sm: 6px;

  --shadow-sm: 0 2px 6px rgba(0,0,0,.05);
  --shadow-md: 0 4px 12px rgba(0,0,0,.08);

}